header {
    background-color: #52f3de;
    color: #001e39;

.cabecalho {
    background-color:#52f3de;
    color:#001e39;    ;
    align-items: left;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}