*{
    margin: 0%;
    padding: 0%;
}

.cabeçalho {
    background-color: #9c0c0c;
    color: #ffffff;
    display: flex;
    justify-content: left;
}
.cabeçalho-imagem{
    width: 20%;
}
.cabeçalho-titulo{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
